$ciBlue: rgba(254, 180, 75, 1);

.cards {

  &:hover {
    .card {
      background: radial-gradient(
                      100rem circle at var(--xPos) var(--yPos),
                      rgba($ciBlue, 0.4),
                      transparent 15%
      );
    }
  }
}

.card {
  background: radial-gradient(150rem circle at 0 0, rgba($ciBlue, 0), transparent 0%);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.15s;

  &:hover {
    transform: scale(0.97);
    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(
                    70rem circle at var(--xPos) var(--yPos),
                    rgba($ciBlue, 0.1),
                    transparent 35%
    );
    opacity: 0;
    transition: scale 0.20s ease-in-out, background 0.20s ease-in-out;
  }
}

.cardContent {
  padding: 24px;
  background-color: rgba(19, 21, 23, 1);
  border-radius: inherit;
  transition: all 0.25s;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
}
