.process {
  &__inner {
    padding: 80px 0;
    overflow: visible;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

  }

  &__headerScroll {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    background: rgba(10, 10, 11, 0.3) !important;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 80px;
  }

  &__tabs {
    position: sticky;
    z-index: 99;
    top: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    background: rgba(32, 34, 36, 1);
    overflow: auto;
    scrollbar-width: none;
  }

  &__tab--active {
    color: rgba(10, 10, 11, 1) !important;
    background: rgba(255, 255, 255, 1);
  }

  &__tab {
    font-weight: 500;
    padding: 8px 24px;
    font-size: 18px;
    color: rgba(197, 199, 200, 1);
    text-transform: capitalize;
    border-radius: 12px;
    cursor: pointer;
  }

  &__navButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__navButton {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(42, 44, 46, 1);
    border-radius: 50%;
    background-color: rgba(32, 34, 36, 1);
    position: absolute;
    bottom: -100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__prevButton {
    right: 52%;
  }

  &__nextButton {
    left: 52%;
  }

  &__slider {
    display: none;
  }
}


@media (max-width: 600px) {
  .process {
    &__text {
      font-size: 16px;
    }

    &__content {
      display: none;
    }

    &__tabs {
      display: none;
    }

    &__slider {
      display: block;
      margin: 56px auto 0;
      overflow: hidden;
      padding-bottom: 160px;
    }
  }


}