@use "../../../styles/base/vars" as vars;

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: none;
  }

  &__field {
    font-family: inherit;
    background-color: transparent;
    color: vars.$gray-900;
    border: none;
    outline: none;
    padding: 16px;
    border-bottom: 1px solid vars.$gray-900;
    transition: all ease-out 0.3s;
    min-width: 0;
    width: 100%;

    &::placeholder {
      color: rgba(10, 10, 11, 0.5);
    }

    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &--error {
    background-color: rgba(173, 37, 37, 0.08);
    border-bottom: 1px solid rgba(173, 37, 37, 1);

    &::placeholder {
      color: rgba(10, 10, 11, 1);
    }
  }
}
