.faqBlock {
  transition: all 0.5s ease-out;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--open {
    background-color: rgba(32, 34, 36, 1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
  }

  &__answer {
    font-size: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &__answer--open {
    max-height: 500px;
    padding-top: 24px;
  }

  &__box {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__inner--open {
    align-items: flex-start;
  }
}


@media (max-width: 768px) {
  .faqBlock {
    padding: 24px 16px;
    &__title {
      font-size: 18px;
    }

  }
}

@media (max-width: 600px) {
  .faqBlock {
    &__title {
      font-size: 16px;
    }
  }
}
