.sectionTitle {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 600;
}

@media(max-width: 768px) {
  .sectionTitle {
    font-size: 36px;
  }
}


@media(max-width: 600px) {
  .sectionTitle {
    font-size: 32px;
  }
}

