.processCard {
  &__inner {
    display: flex;
    align-items: flex-end;
    gap: 6.5vw;
  }

  &__content {
    flex: 1;
    max-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__imageWrapper {
    position: relative;
    height: 300px;
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
  .processCard {
    &__inner {
      flex-direction: column;
      height: 700px;
    }

    &__imageWrapper {
      width: 100%;
      min-height: 300px;
    }

    &__content {
      width: 100%;
      max-width: 100%;
    }
    &__text {
      font-size: 14px;
    }
  }
}
