@use "../../../styles/base/vars.scss" as vars;

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29.5px;
  }

  &__socialList {
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
  }

  &__socialIcon {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 94px;
    height: 23px;
  }

  &__copyrights {
    font-size: 18px;
    color: vars.$gray-500;
  }
}
