$color1: #b0f1e1;
$color2: #ffe89a;
$color3: #f8c4f8;
$color4: #dff1ff;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin animated-gradient {
  background: linear-gradient(90deg, $color1, $color2, $color3, $color4);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

.applicationProcess {
  padding: 80px 0;
  &__steps {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }
  &__inner {
    @include animated-gradient;
    padding: 56px;
    border-radius: 16px;
    color: rgba(10, 10, 11, 1);
    display: flex;
    align-items: start;
    gap: 80px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__form {
    width: 100%;
    max-width: 531px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }
}
