$color1: #b0f1e1;
$color2: #ffe89a;
$color3: #f8c4f8;
$color4: #dff1ff;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin animated-gradient {
  background: linear-gradient(90deg, $color1, $color2, $color3, $color4);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

.applicationProcess {
  padding: 80px 0;
  &__steps {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }

  &__step {
    min-width: 300px;
  }
  &__inner {
    @include animated-gradient;
    padding: 56px;
    border-radius: 16px;
    color: rgba(10, 10, 11, 1);
    //display: flex;
    //align-items: flex-start;
    //gap: 80px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__boxTitle {
    font-size: 40px;
    margin-bottom: 24px;
  }

  &__boxText {
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
  }

  &__boxBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    svg {
      transition: transform 0.3s ease;
    }

    &:hover {
      svg {
        transform: translateX(15px);
      }
    }
  }

  &__form {
    width: 100%;
    max-width: 531px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }
}

@media (max-width: 1024px) {
  .applicationProcess {
    &__inner {
      gap: 40px;
    }
  }

}

@media (max-width: 920px) {
  .applicationProcess {
    &__inner {
      flex-direction: column;
    }

    &__form {
      width: 100%;
      max-width: none;
    }
  }
}

@media (max-width: 768px) {
  .applicationProcess {
    &__inner {
      padding: 56px 16px;
    }

    &__box {
      align-items: flex-start;
    }

    &__boxText {
      text-align: start;
    }

    &__boxBtn {
      width: 100%;
    }
  }

}

@media (max-width: 600px) {
  .applicationProcess {
    &__text {
      font-size: 16px;
    }
    &__title {
      font-size: 24px;
    }
    &__btn {
      width: 100%;
    }

    &__boxTitle {
      font-size: 32px;
      font-weight: 600;
    }

    &__fontText {
      font-size: 16px;
    }
  }

}
