$color1: #b0f1e1;
$color2: #ffe89a;
$color3: #f8c4f8;
$color4: #dff1ff;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin animated-gradient {
  background: linear-gradient(90deg, $color1, $color2, $color3, $color4);
  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite;
}

.collaborationModels {
  padding: 80px 0;

  &__text {
    max-width: 666px;
  }

  &__header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__content {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__btn {
    @include animated-gradient;
    color: rgba(19, 21, 23, 1);
    border: 1px solid rgba(42, 44, 46, 1);
    padding: 11px 20px;
  }
}

@media (max-width: 1024px) {
  .collaborationModels {

    &__content {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

}

@media (max-width: 600px) {
  .collaborationModels {
    &__btn {
      width: 100%;
    }
  }

}
