@font-face {
  font-family: "GeneralSans";
  src:
    url("/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("/fonts/GeneralSans-Variable.woff") format("woff"),
    url("/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src:
    url("/fonts/GeneralSans-VariableItalic.woff2") format("woff2"),
    url("/fonts/GeneralSans-VariableItalic.woff") format("woff"),
    url("/fonts/GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}
