@use "vars";

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "GeneralSans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.48;
  color: vars.$gray-200;
  background-color: vars.$gray-900;
  overflow-x: hidden;
  min-width: 320px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.swiper {
  overflow: visible !important;
}
